<div class="container-fluid">
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Icon</th>
          <th scope="col">Name</th>
          <th scope="col">Last Price</th>
          <th scope="col">Volume</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currency of currencyArray | slice: (page-1) * pageSize : page * pageSize">
          <td><img src="./assets/color/{{currency.base_unit}}.svg"
              onError="this.src='./assets/color/image-not-found.svg'"></td>
          <td>{{currency.base_unit}}</td>
          <td>{{currency.last}}</td>
          <td>{{currency.volume}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="row">
    <div class="col offset-2">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize"
    [collectionSize]="currencyArray.length" class="paginator"></ngb-pagination>
    </div>
  </div>
</div>