.table{
    font-family: "Synce";
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

img{
    height: 30px;
    width: 30px;
}

.paginator{
    display: flex; 
    padding: 1%;
    justify-content:center;
}

.example-stretched-tabs {
    width: 100%;
    background-color:#E1E8ED ;
    color:#14171A;
  }