.login{
    width: 100%;
    text-align: center;
    color:white;
    background-color: #242526;
}

mat-form-field{
    width: 100%;
}

.login-btn{
    background-color: #1DA1F2;
    color: #fff;
}

.head{
    font-family: 'Suede';
    font-size: 50px;
    font-weight: bolder;
}

form{
    margin: 5%;
    padding: 5%;
}

.btn-link{
    color: #AAB8C2;
    font-family: 'Suede';
}