<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <mat-card class="example-card login">
                <mat-card-content>
                    <div class="text-center head"><span class="material-icons">moving</span>Crypticker</div>
                    <form [formGroup]="loginForm">
                        <p>Sign In</p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your email:</mat-label>
                                <input matInput formControlName="email">
                                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                <mat-hint>Ex: jane@doe.com</mat-hint>
                                <mat-error *ngIf="loginForm.controls.email.errors">
                                    <span *ngIf="loginForm.controls.email.errors.required">Field cannot be empty</span>
                                    <span *ngIf="loginForm.controls.email.errors && !loginForm.controls.email.errors.required">{{loginForm.controls.email.errors.emailError}}</span>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="fill">
                                <mat-label>Enter your password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint>Ex. janedoe123</mat-hint>
                                <mat-error *ngIf="loginForm.controls.password.errors">
                                    <span *ngIf="loginForm.controls.password.errors.required">Field cannot be empty</span>
                                    <span *ngIf="loginForm.controls.password.errors && !loginForm.controls.password.errors.required">{{loginForm.controls.password.errors.pwdError}}</span>
                                </mat-error>
                            </mat-form-field>
                        </p>
                        <br>
                        <button mat-raised-button class="login-btn btn btn-block">Login</button>
                        <button class="btn btn-link" [routerLink]="['/register']" >Not a member? Register Here.</button>

                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>