.mat-card{
    width: 100%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.cardTitle{
    font-size:60px;
    font-family: "Synce";
}

.detailsTable{
    height: 100%;
    width: 100%;
    margin: 5%;
}

.subtitle{
    color:#E1E8ED;
}

.chart{
    color: white;
    background-color: #121212;
}


td{
    color:#1DA1F2;
}

.err{
    font-family: "Synce";
    font-size: 50px;
}
.sad{
    margin-top: 10%;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {transform: rotate(360deg);}
  }